.hero {
  background-image: url("/faraday/location.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; /* Center the background image */
  height: auto;
  width: 100%; /* Ensure it takes the full width */
  display: flex;
  justify-content: center; /* Optional: Center content horizontally */
  align-items: center; /* Optional: Center content vertically */
}

@media (max-width: 768px) {
  .hero {
    height: auto; /* Adjust height for smaller screens */
  }
}


.nav{
  display: flex;
  justify-content: center;
  padding: 10x;
  text-decoration: none;
  cursor: pointer;
  /* position: fixed; */
}
.nav ul{
  padding: 10px;
}

.log{
  width: 40px;
  justify-content: flex-start;
}